@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-slate-800;
    font-family: 'Philosopher', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

a {
    @apply text-rose-500;
}

a:hover {
    @apply text-rose-600;
}

a:active {
    @apply text-rose-800;
}